# Dependencies
/node_modules

# Development
.env
.env*.local

# Production
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?